* {
  margin: 0;
  padding: 0;
  /* font-family: "Josefin Sans"; */
}

html, body {
  /* height: 100%; */
  /* min-height: 100vh; */
  font-family: "Montserrat";
}

body h1,
body h2,
body h3 {
  font-family: "Josefin Sans";
  font-weight: 700;
  text-transform: uppercase;
}

body p,
body .form-control {
  font-family: "Montserrat";
}

div.navbar-wrapper {
  background-color: #879BBC;
  height: 100px;
  font-family: "Arial Rounded MT";
}

div.navbar-wrapper > div.container,
div.navbar-wrapper > div.container > nav {
  height: 100%;
}

nav * {
  /*background-color: #879BBC;*/
}

nav .navbar-brand {
  font-family: "Arial Rounded MT";
  color: #FFF;
  font-size: 38px;
}

nav .navbar-brand:hover {
  color: #FFF;
}

nav > div.container-fluid > ul {
  list-style: none;
}

nav > div.navigation-wrapper > ul > li {
  display: inline-block;
  padding-right: 20px;
}

nav > div.navigation-wrapper > ul > li.active > a {
  color: #F1B145;
  font-weight: 700;
}

nav > div.navigation-wrapper > ul > li > a {
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0;
}

nav > div.navigation-wrapper > ul > li > a:hover {
  text-decoration: none;
  color: #F7B145;
}

header.hero {
  background-image: url("../../images/Kids sitting on the ground.jpg");
  background-position-y: 25%;
  background-size: cover;
  height: 700px;
  position: relative;
  margin-bottom: 140px;
}

header.hero .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

header.hero .intro span {
  display: block;
  text-align: center;
}

header.hero .intro span:first-child {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 46px;
  text-transform: uppercase;
  color: #585457;
}

header.hero .intro span:nth-child(2) {
  font-family: "Arial Rounded MT";
  font-size: 136px;
  color: #879BBC;
  line-height: 90px;
}

section * {
  z-index: 1;
}

/* Begin about us section */
section.about-us h1 {
  text-transform: uppercase;
  color: #585457;
  margin-bottom: 50px;
}

section.about-us #our-goals,
section.about-us #our-drive,
section.about-us #what-makes-us-special {
  position: relative;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

section.about-us #our-goals > div,
section.about-us #our-drive > div,
section.about-us #what-makes-us-special > div {
  padding: 40px;
}

/* section.about-us #our-goals h2,
section.about-us #our-drive h2,
section.about-us #what-makes-us-special h2 {
  text-transform: uppercase;
} */

section.about-us #our-goals p,
section.about-us #our-drive p,
section.about-us #what-makes-us-special p {
  font-size: 1.4em;
}

section.about-us #our-goals h2 {
  color: #ED6B72;
}

section.about-us #our-drive h2 {
  color: #7AC2A9;
}

section.about-us #what-makes-us-special h2 {
  color: #879BBC;
}

section.about-us .box-shadow-gray {
  box-shadow: -30px 20px #879BBC;
}

section.about-us .box-shadow-yellow {
  box-shadow: 30px -20px #F8E648;
}

section.about-us .box-shadow-green {
  box-shadow: -20px 20px #7AC2A9;
}
/* End about us section */

/* Begin contact us section */
section.contact-us *:not(.btn-submit-form) {
  color: #585457;
}

section.contact-us {
  background-color: #F6F6F6;
  padding-top: 80px;
}

section.contact-us h1 {
  color: #585457;
  margin-bottom: 40px;
  text-transform: uppercase;
}

section.contact-us .btn-submit-form {
  background-color: #879BBC;
  border-color: #879BBC;
  border-radius: 50px;
  width: 100px;
  font-family: "Arial Rounded MT";
  font-size: 18px;
  text-transform: uppercase;

  transition: transform 0.5s;
  backface-visibility: hidden;
}

section.contact-us .btn-submit-form:hover {
  cursor: pointer;
  transform: scale(1.1);
}

section.contact-us {
  padding-bottom: 80px;
}
/* End contact us section */

/* Begin footer */
footer  {
  /* position: absolute;
  width: 100%;
  bottom: 0; */
  background-color: #44C3A9;
  height: 100px;
  color: #FFF;
}

footer > div {
  height: 100%;
  display: flex;
  align-items: center;
}

footer p {
  margin: 0;
}
/* End footer */

/* Community centre repository */
/* Start section recreation centre */
section.recreation-centres {
  margin-top: 200px;
  color: #585457;
}

#programs-body thead > tr > th {
  font-weight: 500;
}

#programs-body thead > tr > th:not(:first-child) {
  border-left: 1px solid #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

#programs-body td {
  border-left: 1px solid #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

#programs-body td > span {
  font-size: 14px;
  white-space: nowrap;
}

#search-centres {
  margin-top: 30px;
}

#search-centres .input-group {
  margin-bottom: 30px;
}

#search-centres input {
  background-color: #F1F1F1;
  border-right: none;
}

#search-centres input + span > button {
  background-color: #F1F1F1;
  border: 1px solid #CED4DA;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search-centres input + span > button:hover {
  cursor: pointer;
}

#search-centres input + span > button > i {
  color: #F1B145;
  font-size: 1.5em;
}

#recreation-centres-table i {
  color: #ED6B72;
}

.recreation-centres .floating-images > img {
  position: fixed;
}
/* End section recreation centre */


/* Default */
.full-width {
  width: 100%;
}

.floating-images {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
}

.floating-images > img {
  position: absolute;
}

#our-goals #tennis-ball-1 {
  top: -300px;
  left: 200px;
}

#our-goals #slash-1 {
  top: -150px;
  left: 475px;
}

#our-drive #basketball-ball-1 {
  top: -300px;
  left: 375px;
}

#our-drive #football-ball-1 {
  top: -150px;
  right: -175px;
}

#our-drive #slash-2 {
  top: -75px;
  right: 200px;
}

#what-makes-us-special #soccer-ball-1 {
  top: -75px;
  left: 375px;
}

#what-makes-us-special #slash-3 {
  top: -75px;
  left: 250px;
}

table > thead > tr > th {
  text-transform: uppercase;
  background-color: #ED6B73;
  color: #FFF;
}

table.table.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #DAE1EB;
}

table.table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #C4CDDE;
}

.card {
  border-radius: 0 !important;
}

.card .card-header:first-child {
  border-radius: 0 !important;
}

.card > .card-header {
  background-color: #879BBC;
  color: #FFF;
}

.card:first-child .card-body {
  padding: 0;
}

.card .card-body {
  background-color: #DAE0EA;
}

.card .card-body .alert {
  margin-bottom: 0;
  font-size: 14px;
  padding: 0.5rem 1.25rem;
}

.card table > thead > tr > th {
  font-size: 13px;
}

.card table > tbody > tr > th {
  vertical-align: middle;
  font-size: 15px;
}

.card table > tbody > tr > th > span {
  color: #373d42;
  font-size: 13px;
  font-weight: 500;
}

.pink {
  color: #ED6B72;
}

.bold {
  font-weight: 900;
}

.mb-80 {
  margin-bottom: 80px;
}

.card a,
.card i.fa {
  color: #FFF;
}

.card a:hover {
  color: #FFF;
  text-decoration: none;
}

.card-list {
  list-style: none;
}

.pager {
  border-radius: 50px !important;
}

.btn-no-style {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;

  transition: transform 0.25s;
}

.btn-no-style:hover {
  transform: scale(1.75);
  backface-visibility: hidden;
}

.btn-no-style:focus {
  outline: none;
}

body .modal-style {
  max-width: 800px;
}

body .modal-style .modal-content > .row {
  min-height: 500px;
}

body .modal-style.modal-dialog .modal-header,
body .modal-style.modal-dialog .modal-footer  {
  border: none;
}

body .modal-style.modal-dialog .modal-title {
  color: #ED6B72;
  text-transform: uppercase;
}

body .modal-style.modal-dialog form .form-control[type="text"],
body .modal-style.modal-dialog form .form-control[type="email"],
body .modal-style.modal-dialog form .form-control[type="phone"],
body .modal-style.modal-dialog form .form-control[type="password"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-color: #ADADAD;
  border-radius: 0;
  width: 90%;
  padding-left: 0;
}

body .modal-style.modal-dialog form .form-control[type="text"]:focus,
body .modal-style.modal-dialog form .form-control[type="password"]:focus {
  box-shadow: none;
}

label#wrong-login,
label#wrong-signup {
  font-size: 13px;
  color: #C42420;
}

#profile-link {
  color: #FFFFFF;
}

#profile-link:hover {
  color: #F1B145;
}

#user-information p {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

#user-information p:last-of-type {
  margin-bottom: 0;
}

#recreation-centres-table tr.favorite {
  background-color: #FFFFFF;
  outline: 5px solid #F1B145;
}

#recreation-centres-table .fa-star,
.fa-star,
.fa-star-o {
  color: #F7B145;
  font-size: 28px;
}

#recreation-centres-table .fa-star:hover {
  cursor:auto;
}

.fa-star:hover {
  cursor: pointer;
}

.modal .left-pane img.top {
  position: absolute;
  top: 0;
  right: 25px;
}

.modal .left-pane img.left {
  position: absolute;
  left: 0;
}

.modal .left-pane img.bottom {
  position: absolute;
  bottom: 0;
  right: -15px;
}

a.dropdown-toggle::after {
  margin-left: 0.8em;
  vertical-align: 0.5em;
}

.modal-content .left-pane {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #879BBC;
  text-align: center;
}

.modal-content .left-pane span:first-of-type {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Josefin sans";
  font-size: 28px;
  display: block;
  margin-top: 200px;
}

.modal-content .left-pane.signup span:first-of-type {
  margin-top: 250px;
}

.modal-content .left-pane span:nth-of-type(2) {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Josefin sans";
  display: block;
}

.modal-content .left-pane span:last-of-type {
  color: #FFFFFF;
  font-family: "Arial Rounded MT";
  font-size: 20px;
  font-size: 36px;
  display: block;
}

.modal-style.modal-dialog .form-links {
  font-size: 14px;
}

.modal-style.modal-dialog .form-links:hover {
  color: #f99096;
  text-decoration: none;
}

.modal-style.modal-dialog .modal-title {
  font-size: 1.75rem;
}

.modal-style.modal-dialog .modal-footer {
  display: block;
  text-align: center;
}

.modal-style.modal-dialog .modal-footer .btn-submit-form {
  background-color: #ED6B72;
  border-color: #ED6B72;
  border-radius: 50px;
  width: 100px;
  font-family: "Arial Rounded MT";
  font-size: 18px;
  text-transform: uppercase;

  transition: transform 0.5s;
  backface-visibility: hidden;
}

.modal-style.modal-dialog .modal-footer .btn-submit-form:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.modal-style.modal-dialog .modal-footer .btn-submit-form:focus {
  background-color: #ED6B72;
  border-color: #ED6B72;
}
